a {
  text-decoration: none;
}
.pageContainer {
  /* display: flex;
  flex-direction: column; */
  height: 100%;
}
.top-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100%;
  position: relative;
}

.particlesContainer {
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Intorduction section */
.introContainer {
  /* display: flex;
  flex-direction: column;
  color: white;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  position: absolute; */

  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
  animation: opacityAni 5s, moveTitle 2s;
}

@keyframes opacityAni {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveTitle {
  from {
    top: 0px;
  }
  to {
    top: 50%;
  }
}

.introTop {
  padding: 15px;
}

.introTop > h2 {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 10px;
}

.introTop > h1 {
  margin-bottom: 10px;
  font-weight: 700;
}

.introTop > h3 {
  font-weight: 500;
}

/* --- Intorduction section  --- */

/* About Container */
.aboutContainer {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
/* ---  About Container --- */

/* Skills Section */
.skillsContainer {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.stackImages > img {
  width: 60px;
  height: 60px;
  margin: 10px 5px;
}

.stackImages > img:hover {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/* ----Skills section --- */

/* ---Link Container--- */
.linksContainer {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.linksImages > a > img {
  width: 60px;
  height: 60px;
  margin: 10px 5px;
  cursor: pointer;
}

/* ---Link Container--- */

/* ---Work Section--- */
.workContainer {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.workProject {
  display: flex;
}

.workProject > img {
  width: 60px;
  height: 60px;
  margin: 10px 0;
}
.workProject > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectDesc {
  font-weight: 600;
}
/* ---Work Section--- */

/* ---Tech Container--- */
.techContainer {
  margin-top: 10px;
  margin-bottom: 30px;
}

.techContainer > h2 {
  margin-bottom: 10px;
}

.appBttn {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}
.appBttnContainer {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* ---Tech Container--- */

/* ---Projects Container */
.floppyerContainer {
  display: none;
}

.floppyerContainer > img {
  width: 100%;
  height: 100%;
}

/* ---Projects Container */

/* ---Contact Container---*/
.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 15px 50px 15px;
}
.contactContainer > h3 {
  margin-bottom: 15px;
  text-align: center;
}
.contactMail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactMail > img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.contactMail > p {
  font-weight: 600;
  color: black;
}

/* ---Contact Container---*/

/* ---Arrow Button --- */
.arrowDown {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: opacityAni 2s;
}

.arrowDown > a {
  color: white;
  /* position: absolute; */
  bottom: 50px;
}

.arrowDown > a > p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
}
/* ---Arrow Button --- */

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .aboutContainer {
    padding-left: 100px;
    width: 500px;
  }

  .skillsContainer {
    padding-left: 100px;
    width: 500px;
  }

  .workContainer {
    padding-left: 100px;
    width: 500px;
  }

  .linksContainer {
    padding-left: 100px;
    width: 500px;
  }
  .floppyerContainer {
    display: flex;
  }

  .floppyerContainer > img {
    width: 600px;
    height: 400px;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .workContainer {
    flex-direction: row;
    width: auto;
  }

  .workContaDesc {
    width: 400px;
  }

  p {
    font-size: 18px;
  }

  .introTop > h2 {
    font-size: 3em;
  }

  .introTop > h1 {
    font-size: 2.5em;
  }

  .introTop > h3 {
    font-size: 2em;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
